@model MiddleMan.Web.Controllers.WebSockets.Model.WebSocketClientMethodArgumentModel

@{
  @if (Model.IsPrimitive)
  {
    <div class="form-floating mb-3 argument-container primitive" style="margin-bottom: 0px !important">
      <input type="text" class="form-control" placeholder="@Model.Name (@(Model.Type ?? "Unknown"))" @(ViewBag.DisableInputs ? "disabled" : string.Empty)>
      <label>@Model.Name (@(Model.Type ?? "Unknown"))@(Model.IsNullable ? " - optional" : string.Empty)</label>
    </div>
  }
  else
  {
    <div class="card complex">
      <div class="card-header">
        @Model.Name @(Model.IsNullable ? " - optional" : string.Empty)
      </div>
      <ul class="list-group list-group-flush">
        @foreach (var component in Model.Components)
        {
          <li class="list-group-item">@await Html.PartialAsync("ClientMethodArgument", component)</li>
        }
      </ul>
    </div>
  }
}
